*~
*.log
*.gch
*.pbxproj
*.xcbkptlist
.vscode/*
.vscode
*.DS_Store
*.out
*.plist
*.dSYM
*.o
*.d
*.exe
/.vs
.vs/
*.sln
*.vcxproj
*.filters
*.user
Debug/
enc_temp_folder/
quantas/TrailPeer/*.txt
quantas/TrailPeer/*.png
quantas/TrailPeer/*Log.json
quantas/TrailPeer/*logs*/**/*
quantas/TrailPeer/*Logs*/**/*
