*.vpp.*
*.xcuserstate
Multi_Level_Secure_Blockchain/Multi_Level_Secure_Blockchain.xcodeproj/project.xcworkspace/xcuserdata/kendrichood.xcuserdatad/UserInterfaceState.xcuserstate
*~
*.gch
*.pbxproj
*.xcbkptlist
.vscode/*
.vscode
*.DS_Store
*.out
*.plist
*.dSYM
makefile