*~
*.log
*.gch
*.pbxproj
*.xcbkptlist
.vscode/*
.vscode
*.DS_Store
*.out
*.plist
*.dSYM
*.o
*.d
*.exe
/.vs
.vs/
*.sln
*.vcxproj
*.filters
*.user
Debug/
enc_temp_folder/
quantas/EyeWitnessPeer/*.txt
quantas/EyeWitnessPeer/*.png
quantas/EyeWitnessPeer/*Log.json
quantas/EyeWitnessPeer/*logs*/**/*
quantas/EyeWitnessPeer/*Logs*/**/*
